#Ignore the .class on build
*.class

#Ignore the vs settings
.vscode

#Ignore the jsonStorage.json
JSONDatabase/

#Ignore the finalDatabase
finalDatabase/
TXTDatabase/

untitled.txt
finalTxtDatabase/

null.txt